.filters {
  max-width: 1200px;
  padding-left: 20px;
  margin: 60px 0;
}

.movies {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 30px auto;
}

.movie {
  width: 280px;
  margin: 20px 40px;
  height: 330px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #202020;
  box-shadow: 4px 3px 8px 0px rgb(83, 83, 230);
  transition-duration: 0.3s;
  cursor: pointer;


  &:hover {
    box-shadow: 4px 3px 11px 6px rgb(83, 83, 230);
    transform: translateY(-3px);
  }
}
