<div class="filters">
  <mat-form-field>
    <mat-label>Sort</mat-label>
    <mat-select
      (selectionChange)="onSortHandler($event.value)"
      [(ngModel)]="sort"
    >
      <mat-option value="name">Name</mat-option>
      <mat-option value="year">Year</mat-option>
      <mat-option value="imdb">IMDB Rating</mat-option>
      <mat-option value="metacritic">Metacritic</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="movies">
  <div class="movie" *ngFor="let movie of filteredMovies">
    <app-movie [movie]="movie"></app-movie>
  </div>
</div>
