.register-container {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 600px;
  background-color: #323a45;
  border-radius: 10px;
  color: #fff;
  gap: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.input-container input {
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  outline: none;
  margin: 20px auto;
}

.register-btn {
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  background-color: #3f51b5;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
  border: none;

  &:hover {
    color: #3f51b5;
    background-color: #fff;
  }
}

.is-invalid {
  border: 1px solid red;
}

.error {
  color: red;
}
